#contatoContainer{
position: absolute;
    top: 308vw;
    left: 0vw;
    width: 100vw;
    height: 201vw;
    border-top: 1px solid rgb(228, 228, 228);
}
#informacaoContato h1{
position: absolute;
    top: 5vw;
    color: var(--font-roxo);
    left: 4vw;
    margin: 0;
    font-size: 11vw;
    font-family: inter;
}
.caixaComContatos{
position: absolute;
    background-color: #ECECEC;
    height: 16vw;
    width: 74vw;
    top: 51vw;
    left: 5vw;
    border: none;
    font-size: 4.7vw;
    transition: 0.2s;
    border: solid 1px transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caixaComContatos:hover{
    cursor: pointer;
    border: solid 1px var(--font-roxo1);
    
}
#caixacontato2{
    top: 82vw;
}

#linkedinLogoContato{
position: absolute;
    top: 44.5vw;
    height: 5vw;
    left: 5vw;
}
#gmailLogoContato {
position: absolute;
    top: 71vw;
    left: 2.5vw;
height: 13vw;
}


#formulario{
background-color: var(--font-roxo1);
    position: absolute;
height: 147vw;
    width: 100vw;
    top: 112vw;
    left: 0vw;

}

form{
position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 91vw;
    top: 33vw;
    left: 4vw;
    color: white;
    border: none;
    font-family: inter;
  
}
input{
    padding: 8px;

}
#formulario h1{
position: absolute;
    top: 3vw;
    color: #FFF;
    left: 3vw;
    margin: 0;
    font-size: 11vw;
    font-family: inter;
    width: 89vw;

}


#nomeFormulario{
    height: 40vw;
    border: none;
    resize: none;
}

.caixaFormulario{
    border: none;
padding: 10px;
}
#caixaMensagem{
    height: 40vw;
    resize: none;
}

.labelFormulario{
    color: rgb(255, 255, 255);
    top: -10px;
    font-weight: 600;
}
.caixaFormulario::placeholder{
    opacity: 0.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaoEnviar{
position: absolute;
    height: 10vw;
    width: 26vw;
    top: 98vw;
    left: 65vw;
    color: #555;
    border: none;
    font-family: inter;
    font-weight: 600;
    font-size: 5vw;
    background-color: white;
    transition: 0.2s;
}
#botaoEnviar:hover{
    cursor: pointer;
    top: 97.5vw;
    border-radius: 2px;
    background-color: rgb(216, 216, 216);
}


