
body{
    font-family: 'Signika', sans-serif;
}


#experienciaTitu {
    position: absolute;
    top: 1vw;
    color: var(--font-roxo);
    left: 4vw;
    margin: 0;
    font-size: 8vw;
}

.experienciaSessao{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 360vw;
    height: 100vw;
    width: 100vw;
}
.experienciaContainer{
position: absolute;
    background-color: white;
    top: 18vw;
    left: 4vw;
    height: 28vw;
    width: 92vw;
    border: solid 1px #E4E4E4;
    box-shadow: 0 0 2px 1px rgba(31, 31, 31, 0.08);
}
.cargoExperiencia {
position: absolute;
    top: -13px;
    left: 4vw;
    color: #2f2f2f;
    font-size: 4.8vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.empresaExperiencia {
position: absolute;
    top: 15px;
    left: 4.5vw;
    color: #8e8e8e;
    font-size: 2.8vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.descrisaoProfissao{
position: absolute;
    top: 37px;
    left: 4.5vw;
    color: #3c3c3c;
    font-size: 2.65vw;
    font-weight: 400;
    width: 300px;
    font-family: Inter;
}
.dataProfissao {
position: absolute;
    top: 3px;
    left: 71vw;
    color: #3c3c3c;
    font-size: 3vw;
    font-weight: 300;
    width: 304px;
    font-family: Inter;
}