header {
    position: absolute;
    background-color: rgb(207, 8, 8);
}

#base {
    position: absolute;
    background-color: #FFF9F9;
    top: 0vw;
    width: 100vw;
    height: 6.7vw;
    /* 129px convertido para vw */
}

#logo-principal {
    position: absolute;
    height: 8.3vw;
    /* 160px convertido para vw */
    top: -0.5vw;
    /* -10px convertido para vw */
    left: -2.6vw;
    /* -50px convertido para vw */
    z-index: 1;
}

#best-moments_titu {
    position: absolute;
    font-size: 2.6vw;
    /* 50px convertido para vw */
    top: 6.7vw;
    /* 129px convertido para vw */
    left: 13vw;
    /* 250px convertido para vw */
    font-family: 'inter';
    font-weight: 300;
}

#polaroid-logo {
    position: absolute;
    top: 0vw;
    height: 7.5vw;
    /* 145px convertido para vw */
    width: 4.6vw;
    /* 89px convertido para vw */
    left: calc(100% - 13vw);
    /* 250px convertido para vw */
    z-index: 10;
}

#sub-base {
    position: absolute;
    background-color: #E05858;
    top: 6.7vw;
    /* 129px convertido para vw */
    width: 100vw;
    height: 0.8vw;
    /* 16px convertido para vw */
    z-index: 9;
}

@media (min-width: 1230px){
    #base{
        height: 100px;
    }
    #logo-principal{
        height: 110px;
        top: -5px;
        left: -30px;
    }
    #polaroid-logo{
        height: 103px;
        width:  65px;
    }
    #sub-base{
        top: 92px;
        height: 11px;
    }
          #best-moments_titu {
            color: black;
              left:242px;
              top: 100px;
              font-size:35px;
          }
}