
:root{
    --degrade-roxo: linear-gradient(45deg, #B16BEB, #FE5E68, #FFA04F);
}

body {
    margin: 0;
    padding: 0;
    max-height: 100vh

}

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    align-items: center;
    font-size: 1.5em;
}

header {
    position: fixed;
    width: 100vw;
    background: #fff;
    z-index: 10;
    padding:  0;
    font-family: Nunito;
    font-weight: 600;
    font-size: 4.6vw;
    line-height: normal;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    position: relative;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    padding: -110px;
}

.indicator {
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 4px;
    width: 0;
    background: var(--degrade-roxo);
    transition: left 0.3s ease, width 0.3s ease;
}



#logoSite{
    position: absolute;
    top: 3vw;
    left: 4vw;
    height: 10vw;
}