body{
    background-color: #F6EFEF;
    margin: 0;
    border: 0;
    
}

header{
    position: absolute;
    background-color: rgb(207, 8, 8)39, 0, 0;

}
#base{
    position: absolute;
    background-color: #FFF9F9;
    top: 0vw;
    width: 100vw;
    height: 129px;
}
#logo-principal {
    position: absolute;
    height: 135px;
    top: -20px;
    left: 20px;
}

#polaroid-logo{
    position: absolute;
    top: 0px;
    height: 105px;
    width: 89px;
    left: calc(100% - 250px);
    z-index: 10;
}

#sub-base{
    position: absolute;
    background-color: #E05858;
    top: 105px;
    width: 100vw;
    height: 16px;
    z-index: 9;
    
}

#polaroid-1{
    position: absolute;
    top: 260px;
    left: 230px;
    transition: 0.2s ease;
    height: 400px;
    width: 1200px;
    background-color: white;
    box-shadow: 0px 0.2vw 3px 1px rgba(66, 66, 66, 0.053);
    border: solid 2px rgb(233, 233, 233);
    font-family: 'inter';
}
#polaroid-1 img{
    position: absolute;
    height: 232px;
    width: 246px;
    top: 14px;
    left: 16px;
  }
#titu-polaroid1{
    position: absolute;
    top: 254px;
    left: 31px;
    font-size: 12px;
}
#data-polaroid1{
    position: absolute;
    top: 297px;
    left: 16px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(155, 155, 155);
}
#local-polaroid1{
    position: absolute;
    top: 297px;
    left: 208px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(155, 155, 155);
}
#polaroid-1:hover{
    top: 255px;
    transition: 0.3s ease;
    cursor: pointer;
    border: solid 1px;
    filter: blur(70%);
    box-shadow: 0px 0vw 3px 1px rgba(0, 0, 0, 0.361);
}





















#h-lateral-base{
    position: absolute;
    background-color: #FFF9F9;
    top: 129px;
    border-radius: 2px;
    border-right: solid 2px #C3C3C3;
    width: 196px;
    height: 800px;
    z-index: 8;
    box-shadow: 2px 1vw 20px 1px rgba(66, 66, 66, 0.168);
}


#button-urban{
    position: absolute;
    top: 123px;
    left: 15px;
    height: 45px;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 0.2vw 3px 1px rgba(66, 66, 66, 0.122);
}
#button-urban:hover{
    transition: 0.3s ease;
    left: 20px;
    filter: grayscale(20%);
    cursor: pointer;
    height: 45px;

}
#button-nature{
    position: absolute;
    top: 55px;
    left: 15px;
    height: 45px;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 0.2vw 3px 1px rgba(66, 66, 66, 0.093);
}
#button-nature:hover{
    transition: 0.3s ease;
    left: 20px;
    filter: grayscale(20%);
    cursor: pointer;
    height: 45px;


}
#button-sky{
    position: absolute;
    top: 189px;
    left: 15px;
    height: 45px;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 0.2vw 3px 1px rgba(66, 66, 66, 0.053);
}
#button-sky:hover{
    transition: 0.3s ease;
    left: 20px;
    filter: grayscale(20%);
    cursor: pointer;
    height: 45px;

}

#button-minimalist{
    position: absolute;
    top: 256px;
    left: 15px;
    height: 45px;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 0.2vw 3px 1px rgba(66, 66, 66, 0.093);
}
#button-minimalist:hover{
    transition: 0.3s ease;
    left: 20px;
    filter: grayscale(20%);
    cursor: pointer;
    height: 45px;
    box-shadow: 0px 0.2vw 7px 1px rgba(0, 0, 0, 0);
}
#button-flowers{
    position: absolute;
    top: 323px;
    left: 15px;
    height: 45px;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 0.2vw 3px 1px rgba(66, 66, 66, 0.093);
}
#button-flowers:hover{
    transition: 0.3s ease;
    left: 20px;
    filter: grayscale(20%);
    cursor: pointer;
    height: 45px;

}
#button-darkness{
    position: absolute;
    top: 390px;
    left: 15px;
    height: 45px;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 0.2vw 3px 1px rgba(66, 66, 66, 0.093);
}
#button-darkness:hover{
    transition: 0.3s ease;
    left: 20px;
    filter: grayscale(20%);
    cursor: pointer;
    height: 45px;

}