:root {
    --font-color: #141C3A;
    --font-roxo: #141C3A;
    --font-roxo1: #6D07F2

}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Signika', sans-serif;
    overflow-x: hidden;
    margin-bottom: 1100px;
}
html{
    scroll-behavior: smooth;
        overflow-x: hidden;
}

#principal {
    background-color: #ffffff;
    margin: 0;
    top: 0vw;
    height: 52vw;
    width: 100vw;
}

#principal h1 {
    position: absolute;
    top: 24vw;
    left: 11vw;
    margin: 0;
    font-size: 5vw;



}

#principal p {
    position: absolute;
    top: 30vw;
    left: 11vw;
    margin: 0;
    font-size: 2.5vw;


}





/*   Sobre Mim    */

/*Imagem Personagem*/
#my {  
    position: absolute;
    top: 2vw;
    height: 36vw;
    left: -5vw;
}

#texto-sobre {
    position: absolute;
    top: 8vw;
    color: #2F2F2F;
    font-size: 3.1vw;
    left: 38vw;
    width: 45vw;

}

#titu-sobre {
    position: absolute;
    top: 1vw;
    color: #6D07F2;
    left: 38vw;
    margin: 0;
    width: 171px;
    font-size: 8vw;
}





/*   Formação Academica    */



.tituloArea{
    position: absolute;
        top: 118vw;
        color: var(--font-roxo);
        left: 4vw;
        margin: 0;
        font-size: 8vw;
}
.containerCurso{
    position: absolute;
    top: 131vw;
    left: 3.5vw;
    height: 77px;
    width: 92vw;
transition: 1s;
}
.containerCurso:hover{
border: solid 1px black;
    box-shadow: 0 0 2px  1px rgba(31, 31, 31, 0.08);
    
}
/*  Foto da Universidade  */
.containerCurso img{
    position: absolute;
    top: 1vw;
    left: 1.5vw;
    height: 17vw;
    width: 17vw;
    
}
/*  Nome da Universidade  */
.containerCurso h1 {
    position: absolute;
    color: #2f2f2f;
    top: -1vw;
    left: 20vw;
    font-size: 3.5vw;
}
/*  Curso da Formação  */
.containerCurso p {
    position: absolute;
    color: #8d8d8d;
    top: 7.5vw;
    left: 20vw;
    font-weight: 100;
    font-size: 3vw;
}
/*  Data da Formação  */
.containerCurso h2 {
    position: absolute;
    color: #8d8d8d;
    top: -0.5vw;
    left: 75vw;
    font-weight: 100;
     font-size: 3vw;
}









/*  Cursos  */



/*  Curso 1  */
#tituloCursos{
    top: 170vw;
}
#curso1Container {
    top: 186vw;
}
#curso1Container p{
    top: 5vw;
}
#curso1Container h1 {
    top: 1vw;
}
#curso1Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}

/*  Curso 2  */ 

#curso2Container {
    top: 210vw;
}

#curso2Container p {
    top: 5vw;
}

#curso2Container h1 {
    top: 1vw;
}

#curso2Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}



/*  Curso 3  */

#curso3Container {
    top: 234vw;
}

#curso3Container p {
    top: 5vw;
}

#curso3Container h1 {
    top: 1vw;
}

#curso3Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}


/*  Curso 4  */

#curso4Container {
    top: 258vw;
}

#curso4Container p {
    top: 5vw;
}

#curso4Container h1 {
    top: 1vw;
}

#curso4Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}


/*  Curso 5  */

#curso5Container {
    top: 282vw;
}

#curso5Container p {
    top: 5vw;
}

#curso5Container h1 {
    top: 1vw;
}

#curso5Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}


/*  Curso 6  */

#curso6Container {
    top: 307vw;
    
}

#curso6Container p {
    top: 5vw;
}

#curso6Container h1 {
    top: 1vw;
}

#curso6Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
    
}


#github-logo {
    position: absolute;
    top: 35vw;
    height: 4vw;
    left: 11vw;
    border-radius: 10px;

}

#oculos {
    position: absolute;
    top: 22vw;
    height: 20vw;
    left: 68vw;
    border-radius: 10px;

}

#linkedin-logo {
    position: absolute;
    top: 35vw;
    height: 4vw;
    left: 17vw;
    border-radius: 10px;

}


#secundário {
    position: absolute;
    background-color: #ffffff;
    top: 59vw;
    width: 100vw;
    height: 50vw;

}

.categorias {
    background-color: #ffffff;
    margin: 0;
}

.categorias li {

    position: relative;
    top: 2vw;
    font-size: 3vw;
    margin: 2vw;
    left: 6vw;
    color: var(--font-color);
    display: inline-block;
}

#base {
    position: absolute;
    background-color: #ffffff;
    top: 5vw;
    left: 9.5vw;
    height: 90vw;
    width: 80vw;
   
}


#principal h2 {
    position: absolute;
    top: 90vw;
    left: 23vw;
    margin: 0;
    font-size: 5vw;
    border-right: 2px solid #6d07f2ff;
    color: var(--font-color);
    animation: pisca normal infinite .9s, escrever normal 5s steps(50) both;
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
}

#linha1 {
    position: absolute;
    top: 9vw;
    left: 10.5vw;
    background-color: #6d07f2ff;
    height: 0.6vw;
    border-radius: 100px;
    width: 53vw;
    box-shadow: 0 0 1em rgb(231, 231, 231);
}

@keyframes pisca {
    100% {
        border-right-color: transparent;

    }
}

@keyframes escrever {
    100% {
        max-width: 100%;
    }
}

header li a {
    color: var(--font-color);
    font-style: none;
    font-size: 5vw;
  
    text-decoration: none;

}

.cat {
    transition: 1s
}

.cat:hover {

    border-top: 3px solid #6d07f2ff;


}



@keyframes escrever2 {
    100% {
        max-width: 100%;
    }
}


footer {
    position: absolute;
    top: 400vw;
    height: 3vw;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 1em rgb(209, 208, 208);
}

footer p {
    position: absolute;
    top: -0.5vw;
    left: 2vw;
}


@media (max-width: 450px) {

    .categorias li {
        left: -8vw;
    }

        #linha1 {
            top: 12vw;
            left: 4vw;
            width: 40vw;
        }
    #principal {
    background-color: #ffffff;
    margin: 0;
    top: 0vw;
    height: 52vw;
    width: 100vw;

        
}
#principal h1 {
    top: 20vw;
    left: 4vw;
    font-size: 10vw;
}
#principal p {
    top: 31vw;
    left: 4.3vw;
    font-size: 4vw;
}

#github-logo {
    top: 37vw;
    height: 6vw;
    left: 4.6vw;
    border-radius: 0px;

}

#oculos {
    position: absolute;
    top: 20vw;
    height: 25vw;
    left: 72vw;
    border-radius: 10px;

}

#linkedin-logo {
    position: absolute;
    top: 37vw;
    height: 6vw;
    left: 13vw;
    border-radius: 0px;
}

#principal h2 {
    position: absolute;
    top: 56vw;
    left: 23vw;
    font-size: 5vw;

}
#secundário {
    top: 62vw;
    width: 100vw;
    height: 50vw;

}


}
