:root {
    --degrade-roxo: linear-gradient(45deg, #B16BEB, #FE5E68, #FFA04F);
}
#paginaSobre{
    position: relative;
        top: 13vw;
        height: 230vw;
        left: 3vw;
        
}
#ola{
    font-size: 17vw;
    font-family: Ubuntu;
    font-weight: 400;

}
#ola {
    font-size: 17vw;
    font-family: Ubuntu;
    font-weight: 400;

    
}
#maoAcenando {
    position: absolute;
    overflow: hidden;
    top: 13.5vw;
    left: 34vw;
    height: 14.5vw;
    animation: typing 1s steps(10, end), blink-caret 0.75s step-end infinite;

}


#maoAcenando{
    position: absolute;
    top: 13.5vw;
    left: 34vw;
    height: 14.5vw;
    animation: typing 1s steps(10, end), blink-caret 0.75s step-end infinite;

}
#maoAcenando {
    animation: wave 2s ease-in-out infinite;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(14deg);
    }

    30% {
        transform: rotate(-8deg);
    }

    40% {
        transform: rotate(14deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    60% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#souTitulo{
    position: relative;
    top: -11vw;
    left: 1vw;
    font-size: 13vw;
    font-weight: 700;
    letter-spacing: -1.5px;
    font-family: Ubuntu;
}
#pedroTitulo {
    position: relative;
    top: -35.5vw;
    font-weight: bold;
     background: linear-gradient(45deg, #FE5E68, #FFA04F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    left: 25vw;
    font-size: 12vw;
    max-width: 69vw;
    letter-spacing: -1.5px;
    font-family: Ubuntu;
}
#linhaHorizontal-1{
    position: absolute;
    top: 52vw;
    left: 1.5vw;
    height: 1.6px;
    background: linear-gradient(-45deg, #FE5E68, #FFA04F);
    width: 41vw;
    
}
#desenvolvedorTitulo {
    position: absolute;
    top: 42.5vw;
    left: 44.6vw;
    font-size: 6vw;
    font-weight: 300;
    letter-spacing: -1.5px;
    animation: typing 2s steps(20, end),blink-caret 0.75s step-end infinite;
    font-family: Ubuntu;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid rgb(82, 82, 82);
    padding: 3px;
}


@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 41%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}
#githubButton{
    position: absolute;
    top: 62vw;
    left: 1vw;
    height: 11vw;
    width: 30vw;
    color: white;
    font-size: 5vw;
    border: none;
    border-radius: 3px;
    font-family: Ubuntu;
    font-weight: 300;
    background: linear-gradient(100deg, #FE5E68, #FFA04F);
    transition: 0.2s;
}
#githubButton img{
    position: absolute;
    top: 1.6vw;
    left: 2.5vw;
    height: 7.5vw;
}
#githubButton p{
    position: absolute;
    top: -4px;
    font-size: 4.1vw;

        left: 13vw;
    font-family: Ubuntu;
}
#githubButton:hover {
    cursor: pointer;
    border-radius: 20px;
}





#linkedinButton {
    position: absolute;
    top: 62vw;
    left: 35vw;
    height: 11vw;
    width: 30vw;
    color: white;
    font-size: 5vw;
    border: 1.5px solid #FE5E68;
    border-radius: 3px;
    font-family: Ubuntu;
    font-weight: 300;
    background: white;
        transition: 0.2s;
}
#linkedinButton:hover {
    cursor: pointer;
    border-radius: 20px;
}

#linkedinButton img {
    position: absolute;
    top: 1.6vw;
    left: 2.5vw;
    height: 7.5vw;
}

#linkedinButton p {
    position: absolute;
    top: -5px;
    font-size: 4.1vw;
    left: 12vw;
    background: linear-gradient(45deg, #FE5E68, #FFA04F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: Ubuntu;
}

#sobreTitulo{
   position: absolute;
   top: 58vw;
   left: 35vw;
    font-size: 17vw;
    font-family: Ubuntu;
    font-weight: 400;
}
#mimTitulo {
    position: absolute;
    top: 74vw;
    left: 58vw;
    font-size: 17vw;
    font-family: Ubuntu;
    font-weight: 700;
}
#ImagemPerfil{
    position: absolute;
    top: 83vw;
    left: 2vw;
    height: 30vw;
}

#primeiroTexto{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 115vw;
    left: 1.5vw;
    font-size:4.2vw;
    max-width: 90vw;
    ;
}
#segundoTexto{
    position: absolute;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 160vw;
    left: 1.5vw;
    font-size:4.2vw;
    max-width: 90vw;

}
footer{
    position: absolute;
    top: 230vw;
    left: -5vw;
    height: 62vw;
    width: 102vw;
    display: flex;
    background-color: #0B1722;
    color: white;

    justify-content: center;
    align-items: center;
    gap: 20vw;
}
footer h1{
    position: absolute;

    font-size: 12vw;
    font-weight: 100;
    transform: translateY(-20vw);
}
footer h2{
    position: absolute;
        top: 14vw;
        text-align: center;
        font-weight: 100;
        font-size: 5vw;
        font-family: Ubuntu;

}
footer p{
    position: absolute;
        top: 46vw;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        color: rgb(199, 199, 199);
        font-size: 4.6vw;
}
#buttonInstagram{
    position: absolute;
        top: 33vw;
        background-color: transparent;
        border: 2px solid #BEBEBE;
        height: 13vw;
        width: 13vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        transform: translateX(-7vw);
        transition: 0.2s;
    }
    
    #buttonInstagram img {
        height:7.5vw;
    }

#buttonInstagram:hover{
    cursor: pointer;
    background-color:#BEBEBE ;
}
#buttonInstagram:hover img {
    filter: invert(0.85);
}
#buttonGithub{
    position: absolute;
        top: 33vw;
        background-color: transparent;
        border: 2px solid #BEBEBE;
        height: 13vw;
        width: 13vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
                transform: translateX(-7vw);
        align-items: center;
        padding: 0;
        transition: 0.2s;
    }
    
    #buttonGithub img {
        height: 10vw;
    }

#buttonGithub:hover{
    cursor: pointer;
    background-color:#BEBEBE ;
}
#buttonGithub:hover img {
    filter: invert(0.85);
}


#buttonLinkedinFooter:hover{
    cursor: pointer;
    background-color:#BEBEBE ;
}
#buttonLinkedinFooter:hover img {
    filter: invert(0.85);
}
#buttonLinkedinFooter{
    position: absolute;
        top: 33vw;
        background-color: transparent;
        border: 2px solid #BEBEBE;
        height: 13vw;
        width: 13vw;
        border-radius: 50%;
        display: flex;
        transform: translateX(-6vw);
        justify-content: center;
        align-items: center;
        padding: 0;
        transition: 0.2s;
    }
    
    #buttonLinkedinFooter h1 {
    position: absolute;
        font-size: 7vw;
        top: 17.1vw;
        color: white;
        font-family: Ubuntu;
        font-weight: 700;
    }

#buttonLinkedinFooter:hover{
    cursor: pointer;
    background-color:#BEBEBE ;
}
#buttonLinkedinFooter:hover h1 {
    color: #0B1722;
}

#buttonEmail{
    position: absolute;
        top: 33vw;
        background-color: transparent;
        border: 2px solid #BEBEBE;
        height: 13vw;
        width: 13vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
                transform: translateX(-6vw);
        padding: 0;
        transition: 0.2s;
    }
    
    #buttonEmail img {
        height: 10vw;
    }

#buttonEmail:hover{
    cursor: pointer;
    background-color:#BEBEBE ;
}
#buttonEmail:hover img {
    filter: invert(0.85);
}

/* Modal Container */
.modal {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    /* Fica sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fundo semi-transparente */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Largura do modal */
    max-width: 500px;
    /* Largura máxima */
    text-align: center;
    font-family: Ubuntu;
    border-radius: 10px;

}
#escolhaidiomaTitulo{
    transform: translateX(2vw);
}
#escolhaidiomaTitulo2 {
    transform: translateX(-0.5vw);
    transform: translatey(-4vw);
    color: #888;
    font-size: 4vw;
}

/* Fechar Botão */
.close-btn {
    color: transparent;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

/* Opções de Idioma */
.language-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}

.language-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

        padding: 20px;
        
    font-size: 16px;
}

.language-button img {
    width: 70px;
    height: auto;
}
