:root {
    --font-color: #141C3A;
    --font-preto: #141C3A;
    --font-azul: #02baf8;
    --font-verde: #5BE9B9;

}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Signika', sans-serif;
    overflow-x: hidden;
    margin-bottom: 1100px;

   
}









body.dark{
    background-color: var(--font-color);
}
body.dark #principal{
    background-color: var(--font-color);
    color: white;
}
body.dark #principal h2{
    color: white;
}
body.dark #secundário{
    background-color: var(--font-color);
}
body.dark #categorias {
    background-color: var(--font-color);
}
body.dark .cat {
    color: white;
}
body.dark #texto-sobre {
    color: #ffffff;
}
body.dark #titu-sobre {
    color: var(--font-azul);
}
body.dark .containerCurso:hover{
    color: black;
}
body.dark .containerCurso h1 {
    color: white;
}
body.dark .containerCurso p {
    color: rgb(255, 255, 255);
}
body.dark .tituloArea {
    color: white;
}
body.dark .experienciaSessao {
    background-color: var(--font-color);
    
}






















body.dark :root{
    --font-azul1:red;
    background-color: var(--font-color);
}
.checkbox{
    opacity: 0;
    position: absolute;
    
}


.label {
    position: absolute;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    justify-content: space-between;
    top: 55.1vw;
    align-items: center;
    display: flex;
    left: 84vw;
    height: 20px;
    width: 40px;
    padding: 2px;
    transform: scale(1.1)

}
.label .ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2.4px;
    left: 3px;
    height: 19px;
    width: 19px;
    transform: translate(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(20px);
}
.fa-moon{
    
    color: var(--font-azul);
}
.fa-sun{
    color: #f39c12;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}














body.dark #principal h1{
    color: white;
}
#principal {
    background-color: #ffffff;
    margin: 0;
    top: 0vw;
    height: 52vw;
    width: 100vw;
}

#principal h1 {
    position: absolute;
    top: 24vw;
    left: 11vw;
    margin: 0;
    font-size: 5vw;
    transition: all 0.5s;
}

#principal p {
    position: absolute;
    top: 30vw;
    left: 111vw;
    margin: 0;
    font-size: 2.5vw;
}
/*   Sobre Mim    */

/*Imagem Personagem*/
#my {  
    position: absolute;
    top: 2vw;
    height: 36vw;
    left: -5vw;
    transition: all 0.5s;
    border-radius: 5px;
}

#texto-sobre {
    position: absolute;
    top: 8vw;
    color: #2F2F2F;
    font-size: 3.1vw;
    left: 38vw;
    width: 45vw;
    transition: all 0.5s;

}

#titu-sobre {
    position: absolute;
    top: 1vw;
    color: var(--font-preto);
    left: 38vw;
    margin: 0;
    width: 171px;
    font-size: 8vw;
    transition: all 0.5s;
}

















#universidadeContainer{
        transition: 0.3s;
}





/*   Formação Academica    */



.tituloArea{
    position: absolute;
        top: 118vw;
        color: var(--font-preto);
        left: 4vw;
        margin: 0;
        font-size: 8vw;
}
.containerCurso {
    position: absolute;
    top: 131vw;
    left: 3.5vw;
    height: 77px;
    width: 92vw;
    border: solid 1px transparent;
    /* Adicione uma borda inicial */
    transition: all 3s;
}



/*  Foto da Universidade  */
.containerCurso img{
    position: absolute;
    top: 1vw;
    left: 1.5vw;
    height: 17vw;
    width: 17vw;
    
}
/*  Nome da Universidade  */
.containerCurso h1 {
    position: absolute;
    color: #2f2f2f;
    top: -1vw;
    left: 20vw;
    font-size: 3.5vw;
}
/*  Curso da Formação  */
.containerCurso p {
    position: absolute;
    color: #8d8d8d;
    top: 7.5vw;
    left: 20vw;
    font-weight: 100;
    font-size: 3vw;
}
/*  Data da Formação  */
.containerCurso h2 {
    position: absolute;
    color: #5f5f5f;
    top: -0.5vw;
    left: 75vw;
    font-weight: 100;
     font-size: 3vw;
}
.containerCurso:hover {
    cursor: pointer;
    background-color: var(--font-azul);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border: solid 1px rgb(224, 224, 224);
    box-shadow: 0 0 2px 1px rgba(31, 31, 31, 0.08);
    }

  .containerCurso:hover h1{
    color: var(--font-color);
  }
  .containerCurso:hover p,
  .containerCurso:hover h2 {
      color: rgb(0, 0, 0);
  }









/*  Cursos  */



/*  Curso 1  */
#tituloCursos{
    top: 170vw;
}
#curso1Container {
    top: 186vw;
    transition: all 0.2s;
}
#curso1Container p{
    top: 5vw;
    
}
#curso1Container h1 {
    top: 1vw;
}
#curso1Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}

/*  Curso 2  */ 

#curso2Container {
    top: 210vw;
        transition: all 0.2s;
}

#curso2Container p {
    top: 5vw;
}

#curso2Container h1 {
    top: 1vw;
}

#curso2Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}



/*  Curso 3  */

#curso3Container {
    top: 234vw;
        transition: all 0.2s;
}

#curso3Container p {
    top: 5vw;
}

#curso3Container h1 {
    top: 1vw;
}

#curso3Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}


/*  Curso 4  */

#curso4Container {
    top: 258vw;
}

#curso4Container p {
    top: 5vw;
}

#curso4Container h1 {
    top: 1vw;
}

#curso4Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}


/*  Curso 5  */

#curso5Container {
    top: 282vw;
}

#curso5Container p {
    top: 5vw;
}

#curso5Container h1 {
    top: 1vw;
}

#curso5Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
}


/*  Curso 6  */

#curso6Container {
    top: 307vw;
    
}

#curso6Container p {
    top: 5vw;
}

#curso6Container h1 {
    top: 1vw;
}

#curso6Container img {
    top: 1.7vw;
    left: 2.5vw;
    width: 14.6vw;
    height: 15vw;
    
}


#github-logo {
    position: absolute;
    top: 35vw;
    height: 4vw;
    left: 11vw;
    border-radius: 10px;
    transition: 0.2s;
}
#github-logo:hover{
    cursor: pointer;
    filter: brightness(1) invert(2) sepia(0) hue-rotate(0) saturate(10) brightness(1);
        /* Efeito para a cor azul */
    transition: 0.2s;
    top: 36.6vw;

}
 #linkedin-logo:hover {
        cursor: pointer;
            transition: 0.2s;
            filter: brightness(1) invert(2) sepia(0) hue-rotate(0) saturate(10) brightness(1);
            top: 36.6vw;
 }
#oculos {
    position: absolute;
    top: 22vw;
    height: 20vw;
    left: 68vw;
    border-radius: 10px;

}

#linkedin-logo {
    position: absolute;
    top: 35vw;
    height: 4vw;
    left: 17vw;
    border-radius: 10px;

}


#secundário {
    position: absolute;

    top: 59vw;
    width: 100vw;
    height: 50vw;

}

.categorias {
    margin: 0;
    transition: all 0.1s;
}

.categorias li {
    position: relative;
    top: 2vw;
    font-size: 3vw;
    margin: 2vw;
    left: 6vw;
    color: var(--font-color);
    display: inline-block;
}

#base {
    position: absolute;

    top: 5vw;
    left: 9.5vw;
    height: 90vw;
    width: 80vw;
   
}


#principal h2 {
    position: absolute;
    top: 56vw;
        left: 4vw;
        font-size: 5vw;
    margin: 0;

    border-right: 2px solid var(--font-azul);
    color: var(--font-color);
    animation: pisca normal infinite .9s, escrever normal 5s steps(50) both;
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
}

#linha1 {
    position: absolute;
    top: 9vw;
    left: 10.5vw;
    background-color: var(--font-azul);
    height: 0.6vw;
    border-radius: 100px;
    width: 53vw;
   
}

@keyframes pisca {
    100% {
        border-right-color: transparent;

    }
}

@keyframes escrever {
    100% {
        max-width: 100%;
    }
}

header li a {
    color: var(--font-color);
    font-style: none;
    font-size: 5vw;
  
    text-decoration: none;

}

.cat {
    transition: 0.1s
}

.cat:hover {
    color: var(--font-azul);
    cursor: pointer;


}



@keyframes escrever2 {
    100% {
        max-width: 100%;
    }
}


footer {
    position: absolute;
    top: 400vw;
    height: 3vw;

    width: 100%;
  
}

footer p {
    position: absolute;
    top: -0.5vw;
    left: 2vw;
}






#computadoresLogo{
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 260vw;
}







@media (max-width: 450px) {

    .categorias li {
        left: -8vw;
    }

        #linha1 {
            top: 12vw;
            left: 4vw;
            width: 40vw;
        }
    #principal {
    background-color: #ffffff;
    margin: 0;
    top: 0vw;
    height: 52vw;
    width: 100vw;

        
}
#principal h1 {
    top: 20vw;
    left: 4vw;
    font-size: 10vw;
}
#principal p {
    top: 31vw;
    left: 4.3vw;
    font-size: 4vw;
}

#github-logo {
    top: 37vw;
    height: 6vw;
    left: 4.6vw;
    border-radius: 0px;

}

#oculos {
    position: absolute;
    top: 20vw;
    height: 25vw;
    left: 72vw;
    border-radius: 10px;

}

#linkedin-logo {
    position: absolute;
    top: 37vw;
    height: 6vw;
    left: 13vw;
    border-radius: 0px;
}

#principal h2 {
    position: absolute;


}
#secundário {
    top: 62vw;
    background-color: white;
    width: 100vw;
    height: 50vw;

}


}
